pkgbase = swaylock-waypure
	pkgdesc = Screen locker for Wayland
	pkgver = 1.8.4
	pkgrel = 1
	url = https://github.com/swaywm/swaylock
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland-protocols
	depends = cairo
	depends = glibc
	depends = libxkbcommon
	depends = pam
	depends = wayland
	provides = swaylock
	conflicts = swaylock
	replaces = swaylock
	source = https://github.com/swaywm/swaylock/releases/download/v1.8.4/swaylock-1.8.4.tar.gz
	sha256sums = aa251d5a8f335fe2ac9ec3cc2a6ac8772aa4dba2ec710ccd415956c6e89b11d3

pkgname = swaylock-waypure
