pkgbase = gtk3-waypure
	pkgdesc = GObject-based multi-platform GUI toolkit (Wayland only)
	pkgver = 3.24.51
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/gtk
	install = gtk3.install
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = glib2-devel
	makedepends = meson
	makedepends = sassc
	makedepends = wayland-protocols
	depends = adwaita-fonts
	depends = adwaita-icon-theme
	depends = at-spi2-core
	depends = cairo
	depends = dconf
	depends = fontconfig
	depends = fribidi
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk-update-icon-cache
	depends = harfbuzz
	depends = libepoxy
	depends = libcolord
	depends = libcups
	depends = libxkbcommon
	depends = pango
	depends = wayland
	provides = gtk3
	provides = gtk3-print-backends
	provides = libgailutil-3.so
	provides = libgdk-3.so
	provides = libgtk-3.so
	conflicts = gtk3
	conflicts = gtk3-print-backends
	replaces = gtk3
	replaces = gtk3-print-backends
	source = https://gitlab.gnome.org/GNOME/gtk/-/archive/3.24.51/gtk-3.24.51.tar.gz
	source = gtk-query-immodules-3.0.hook
	sha256sums = f3c87a20b3380b69efa720f412a0fea6ab6edce021f8ffaf5c4531fe1321b24f
	sha256sums = a0319b6795410f06d38de1e8695a9bf9636ff2169f40701671580e60a108e229

pkgname = gtk3-waypure
