pkgbase = swaybg-waypure
	pkgdesc = Wallpaper tool for Wayland compositors without gdk-pixbuf
	pkgver = 1.2.1
	pkgrel = 1
	url = https://github.com/swaywm/swaybg
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland-protocols
	depends = cairo
	depends = wayland
	provides = swaybg
	conflicts = swaybg
	replaces = swaybg
	source = https://github.com/swaywm/swaybg/releases/download/v1.2.1/swaybg-1.2.1.tar.gz
	sha256sums = 6af1fdf0e57b1cc5345febed786b761fea0e170943a82639f94cfaed7df84f8f

pkgname = swaybg-waypure
