pkgbase = swayidle-waypure
	pkgdesc = Idle management daemon for Wayland without fish/zsh completions
	pkgver = 1.9.0
	pkgrel = 1
	url = https://github.com/swaywm/swayidle
	arch = x86_64
	license = MIT
	makedepends = meson
	makedepends = scdoc
	makedepends = wayland-protocols
	depends = glibc
	depends = systemd-libs
	depends = wayland
	provides = swayidle
	conflicts = swayidle
	replaces = swayidle
	source = https://github.com/swaywm/swayidle/releases/download/v1.9.0/swayidle-1.9.0.tar.gz
	sha256sums = 6c1b769038b60250c88e47380cbb021cfa57a65f872bf4d6c340b5e3057096ac

pkgname = swayidle-waypure
