pkgbase = at-spi2-core-waypure
	pkgdesc = Protocol definitions and daemon for D-Bus at-spi (Wayland only)
	pkgver = 2.58.2
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/at-spi2-core
	arch = x86_64
	license = LGPL-2.1-or-later
	makedepends = glib2-devel
	makedepends = meson
	makedepends = systemd
	depends = dbus
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = systemd-libs
	provides = at-spi2-core
	provides = libatk-1.0.so
	provides = libatk-bridge-2.0.so
	provides = libatspi.so
	conflicts = at-spi2-core
	replaces = at-spi2-core
	source = https://gitlab.gnome.org/GNOME/at-spi2-core/-/archive/2.58.2/at-spi2-core-2.58.2.tar.gz
	sha256sums = b68f4ccea0a7fdbaf6b0cb3f151906fc060cc000c64d60b621679a29d79d8bb5

pkgname = at-spi2-core-waypure
