pkgbase = mpv-waypure
	pkgdesc = a free, open source, and cross-platform media player (only Wayland, Vulkan, vaapi)
	pkgver = 0.40.0
	pkgrel = 1
	url = https://github.com/mpv-player/mpv
	arch = x86_64
	license = GPL-2.0-or-later AND LGPL-2.1-or-later
	makedepends = meson
	makedepends = python-docutils
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	depends = bash
	depends = ffmpeg
	depends = gcc-libs
	depends = hicolor-icon-theme
	depends = lcms2
	depends = libarchive
	depends = libass
	depends = libjpeg-turbo
	depends = libpipewire
	depends = libplacebo
	depends = libva
	depends = libxkbcommon
	depends = luajit
	depends = uchardet
	depends = vulkan-icd-loader
	depends = wayland
	depends = zimg
	depends = zlib
	optdepends = yt-dlp: for video-sharing websites playback
	provides = libmpv.so
	provides = mpv
	conflicts = libmpv.so
	conflicts = mpv
	replaces = mpv
	source = https://github.com/mpv-player/mpv/archive/v0.40.0/mpv-0.40.0.tar.gz
	sha256sums = 10a0f4654f62140a6dd4d380dcf0bbdbdcf6e697556863dc499c296182f081a3

pkgname = mpv-waypure
