pkgbase = xdg-utils-waypure
	pkgdesc = Command line tools that assist applications with a variety of desktop integration tasks (Wayland only)
	pkgver = 1.2.1
	pkgrel = 1
	url = https://gitlab.freedesktop.org/xdg/xdg-utils
	arch = any
	license = MIT
	makedepends = docbook-xsl
	makedepends = lynx
	makedepends = xmlto
	depends = sh
	depends = file
	optdepends = gtk-update-icon-cache: xdg-icon-resource
	optdepends = xdg-desktop-icon: xdg-user-dir
	optdepends = xdg-desktop-menu: update-desktop-database
	optdepends = xdg-mime: update-mime-database
	optdepends = xdg-open: mimeopen, run-mailcap
	optdepends = xdg-screensaver: mv -T, org.freedesktop.ScreenSaver
	provides = xdg-utils
	conflicts = xdg-utils
	replaces = xdg-utils
	source = https://gitlab.freedesktop.org/xdg/xdg-utils/-/archive/v1.2.1/xdg-utils-v1.2.1.tar.gz
	sha256sums = f6b648c064464c2636884c05746e80428110a576f8daacf46ef2e554dcfdae75

pkgname = xdg-utils-waypure
